@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 7db2bcd (Group E - Ahmed Adnan - Auto Correction/Completion (#27))
=======
>>>>>>> bd1ef6d (-a)
=======
>>>>>>> b47252c (-a)
>>>>>>> c0a6709 (-a)
  scroll-behavior: smooth;

}

html{
  background-color: black;
  color: white;
}

.container {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  
<<<<<<< HEAD
=======
}

.app {
  padding: 20px;
  max-width: 600px;
  margin: auto;
>>>>>>> ad973c8 (feat - setting up the basic frontend and backend stuff)
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 7db2bcd (Group E - Ahmed Adnan - Auto Correction/Completion (#27))
=======
  scroll-behavior: smooth;

}

html{
  background-color: black;
  color: white;
}

.container {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  
>>>>>>> fdab320 (-a)
<<<<<<< HEAD
>>>>>>> bd1ef6d (-a)
=======
=======
>>>>>>> b47252c (-a)
>>>>>>> c0a6709 (-a)
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b47252c (-a)
}z
=======
}
>>>>>>> ad973c8 (feat - setting up the basic frontend and backend stuff)
<<<<<<< HEAD
=======
}z
<<<<<<< HEAD
>>>>>>> 7db2bcd (Group E - Ahmed Adnan - Auto Correction/Completion (#27))
=======
>>>>>>> fdab320 (-a)
<<<<<<< HEAD
>>>>>>> bd1ef6d (-a)
=======
=======
>>>>>>> b47252c (-a)
>>>>>>> c0a6709 (-a)

.suggestions {
  display: flex;
  flex-direction: column;
}

.suggestion {
  padding: 10px;
  background: #f0f0f0;
  margin-bottom: 5px;
  cursor: pointer;
}

.lcs-table {
  margin-top: 20px;
}

table {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
  width: 100%;
>>>>>>> ad973c8 (feat - setting up the basic frontend and backend stuff)
=======
<<<<<<< HEAD
>>>>>>> 7db2bcd (Group E - Ahmed Adnan - Auto Correction/Completion (#27))
=======
>>>>>>> fdab320 (-a)
<<<<<<< HEAD
>>>>>>> bd1ef6d (-a)
=======
=======
=======
  width: 100%;
>>>>>>> ad973c8 (feat - setting up the basic frontend and backend stuff)
>>>>>>> b47252c (-a)
>>>>>>> c0a6709 (-a)
  border-collapse: collapse;
}

td {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 7db2bcd (Group E - Ahmed Adnan - Auto Correction/Completion (#27))
=======
>>>>>>> fdab320 (-a)
<<<<<<< HEAD
>>>>>>> bd1ef6d (-a)
=======
=======
>>>>>>> b47252c (-a)
>>>>>>> c0a6709 (-a)


::-webkit-scrollbar{
  background-color: white;
  border-radius: 12px;
  width: 8px; 
  display:none;
}

::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, 0.53);
  border-radius: 12px;
  
}

.textInput{
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
>>>>>>> ad973c8 (feat - setting up the basic frontend and backend stuff)
=======
}
<<<<<<< HEAD
>>>>>>> 7db2bcd (Group E - Ahmed Adnan - Auto Correction/Completion (#27))
=======
>>>>>>> fdab320 (-a)
<<<<<<< HEAD
>>>>>>> bd1ef6d (-a)
=======
=======
}
=======
>>>>>>> ad973c8 (feat - setting up the basic frontend and backend stuff)
>>>>>>> b47252c (-a)
>>>>>>> c0a6709 (-a)
